.main_home {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  flex-grow: 1;
  padding: 24px;
  text-align: center;
}

.main_article {
  height: 100%;
  margin-bottom: 24px;
  border-radius: 20px;
  padding: 16px;
  background-color: #fbf5ec;
  border-radius: 20px;
}

.main_home .main_article {
  width: 100%;       
  max-width: 800px;  
  margin-bottom: 24px;
  text-align: left;
}
.article-image {
  max-width: 100%;    
  max-height: 400px;  
  height: auto;       
  display: block;
  margin: 16px auto;  
  border-radius: 12px;
}