.main_branching {
    background-color: rgb(247, 241, 234);
    line-height: 1.6;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.branching_article {
    height: 100%;
    max-width: 43.25rem;
    margin: 24px;
    padding: 24px;
}

.branching_title {
    font-weight: bold;
}

p {
    margin: 12px 0;
}

.list li,
.best_practices li {
    margin-bottom: 8px;
    line-height: 1.6;
}

.best_practices_container {
    margin: 48px 0;
}

.list {
    margin: 24px 0;
}

.best_practices {
    margin-bottom: 36px;
}

img {
    margin: 24px 0;
}

.commands {
    background-color: rgb(205, 197, 191);
    border-radius: 20px;
    margin-bottom: 16px;
    padding: 24px;
}

h2,
h3 {
    color: #4e3c25;
}

h3 {
    padding: 0 12px;
    text-align: left;
}

.branchingcommands_title {
    text-align: center;
}

.command_description {
    font-style: italic;
    font-weight: bold;
}

@media screen and (min-width: 769px) {
    .main_branching {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    img {
        max-width: 70%;
        display: block;
        margin: 48px auto;
    }

    .best_practices_container {
        margin: 70px 0;
    }

    .branching {
        max-width: 43.25rem;
        height: 100%;
    }
}