*{
   box-sizing: border-box;
}

html{
    height: 100vh;

}
body{
    display: flex;
    background-color: bisque;
    margin: 0;
    flex-direction: column;
    height: 100%;

}
.header{
    background-color: rgb(162, 140, 112);
}

.menu{
    display: flex;
    background-color: rgb(102, 86, 78);
    justify-content: space-evenly;
    padding: 8px 64px;
    list-style-type: none;
}
.menu-item{
    font-size: 16px;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px;
    margin: auto 0;
    justify-content: flex-start; 
    align-items: stretch;
}
.article{
    height: 250px;
    margin-bottom: 24px;
    border-radius: 20px;
    padding: 16px;
}

.footer{
    background-color: rgb(131, 116, 105);
    padding: 24px;
}
.footer_content{
  color: rgb(66, 51, 45);
  text-align: center;
}

@media (max-width: 768px){
    .menu{
        flex-direction: column;
        padding: 8px;
    }
    .menu-item{
        padding: 12px 0;
        text-align: center;
    }
}

